*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-image: url('https://www.ppt-backgrounds.net/uploads/blue-abstract-design--free-vector-graphics--all-free-web---keynote.jpeg');
}

.loader {
    display: inline-block;
    width: 30px;
    height: 30px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  
  .loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #242f3f;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  .loader {
    display: inline-block;
    width: 90px;
    height: 90px;
    position: relative;
    border: 4px solid #Fff;
    animation: loader 2s infinite ease;
  }
  .loader-inner{
      vertical-align: top;
      display: inline-block;
      width: 100%;
      background-color: #fff;
      animation: loader-inner 2s infinite ease-in;
  }


nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    width: 100%;
    min-height: 10vh;
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    opacity: 0.9;
}
.linkbar{
    display: flex;
    list-style: none;
    width: 35%;
    justify-content: space-between;
    top: 0;
}
.linkbar a{
    color:ghostwhite;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
}
.ab{
    height:100px;
    width: 500px;
    top: 100px;
    position: relative;
    float:left;
}
.ab1{
    height:100px;
    width: auto;
    top:700px;
    position: absolute;
    left:900px;
}
.navbar-img{
    color:ghostwhite;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    top:10px;
    left:10px;
}
.mobile div{
    right:0px;
    background-color: ghostwhite;
    height: 7px;
    width: 39px;
    border: solid 3px wheat;
    border-radius: 15px;
    margin: 5px;
    transition: all 2s ease;
}
.footer{
    bottom:0px;
    height:80px;
    background:black;
    position: fixed;
    width:100%;
    color:ghostwhite;
    text-align: center;
    display: block;
    opacity: 0.9;
}
.social{
    width: 100%;
    position: absolute;
    justify-content: space-between;
    
}
.copyright{
    text-align: center;
}
.w {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

#logo{
    width: 100px;
    height: 35px;
}
h1{
    text-align: center;
    display: block;
    position: absolute;
    top: 100px;
}

@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
.mobile{
    display: none;
}
.rot .o1{
    transform: rotate(-45deg) translate(-8px,9px)
}
.rot .o2{
    opacity: 0;
}
.rot .o3{
    transform: rotate(45deg) translate(-8px,-9px)
}
img{
    height:74px;
    width:320px;
    transition: transform 1.5s;
}
.empty{
    height: 100px;
    width: 200px;
    position: absolute;
    top:1000px;
    bottom: 0px;
}
.linkbar li:hover{
    transform: scale(1.5);
    
}
.git{
    top:800px;
   position: relative;
   font-family: Georgia, 'Times New Roman', Times, serif;
   font-size: 40px;
}
.map {
    height: 600px;
    width: 100%;
  }
  .contact{
    text-align: center;
    top: 200px;
    position: relative;
    font-size: 20px;
}

img:hover{
    transform: scale(1.2);
}
.linkbar a:hover{
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px red;
    transform: scale(1.5);
}
#clg{
    height: 400px;
    width: 600px;
    top:300px;
    position: static;
    left: 70px;
    text-align: center;
    display: block;
    float:right;}
@media screen and (max-width:700px){
  
@media screen and (max-width:700px){
  
   .mobile{
       display: block;
   }
   body{
       overflow-X:hidden;
   }
   .linkbar{
       position: absolute;
       right: 0px;
       height:50vh;
       top:10vh;
       background-color:black;
       display: flex;
       flex-direction: column;
       align-items: center;
       width:50%;
       transform: translateX(100%);
       transition: transform 1s ease-in;
       position: fixed;
       opacity: 0;
   }
   #logo{
    height:27px;
    width:100px;
    left: 50px;
    transition: transform 1.5s;
}

.footer{
    bottom:0px;
    height:80px;
    background:black;
    width:100%;
    color:ghostwhite;
    text-align: center;
    display: block;
}
.social{
    width: 50%;
    position: absolute;
    align-items: center;
    right: 25%;
    justify-content: space-around;
}
.copyright{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
}
.nav-onclick{
    display:flex;
    opacity: .9;
    transform: translateX(0%);
}
@keyframes fade{
    from{
      opacity: 0;
      transform: translatex(50px);
    }
    to{
    opacity: 1;
    transform: translateX(0px);
    }
}
}